
body {
    background-color: #e0e2e5;
}
.header {
    height: 600px;
    background: url('../img/headerLogo.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
}

.root {
    position: relative;
    max-width: 380px;
    max-height: 500px;
    float: left;
    -webkit-box-shadow: 16px 14px 16px -17px #000000;
    box-shadow: 16px 14px 16px -17px #000000;
}
@media screen and (min-width: 1470px){
    .root {
        right: 30%;
    }
}
@media screen and (max-width: 767px){
    .root {
        right: 0;
        max-width: 400px;
        max-height: 550px;
    }
    .header {
        height: 800px;
    }
}
.input {
    line-height: 1%;
}
.boxFooter {
  background-color: #022b3a;
  margin: auto;
}
@media screen and (max-width: 767px){
    .boxFooter {
        height: 630px;
    }
}


.rootCard {
    display: flex;
    align-items: center;
    text-align: center;
    height: 190px;
    margin: 10px;
}
@media screen and (max-width: 767px) {
    .rootCard {
        height: 220px;
    }
}
.media {
    height: 80px;
    width: 80px;
    border-radius: 10%;
    margin-left: 10px;
}

.content {
    margin-left: 10px;
    float: right;
}

.cardDashboard {
    width : 32em;
}
@media screen and (max-width: 767px) {
    .cardDashboard {
        width : 20em;
    }
}
.card-hover:hover {
   background-color: rgba(169, 169, 169, 0);
}
.card-hover:hover:after {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
    pointer-events: none;
}